<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/main.css"></link>
    <title></title>
</head>
<body>
    <!-- http://www.ibm.com/developerworks/library/x-html5/?ca=dgr-lnxw01NewHTML -->
    <header>
        <span class="theatralia" id="home">theatralia</span>
        <div id="buttons"></div>
    </header>

    <div id="main-content"></div>

    <footer>
        <a href="http://cloj.de" id="copyright">Copyright 2014 Richard Möhn</a>
        ·
        <!-- Credits: http://email.about.com/library/weekly/aa030199a.htm -->
        <script language="JavaScript">
            document.write('<a href="mailto:' + 'richard.moehn' + '@' + 'posteo.de' + '">');
            document.write('richard.moehn' + '@' + 'posteo.de' + '</a>');
        </script>
        ·
        <a href="/imprint">Impressum</a>
    </footer>
</body>
</html>
