<!--
Credits:
 - http://getbootstrap.com/getting-started/
 - http://getbootstrap.com/components/
-->
<html>
<body>
  <div class="container">
    <div class="page-header">
      <h1>Search your materials!</h1>
    </div>

    <div id="search-field" class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input id="searchInput" ref="search-input" type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button id="submit" class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>

    <div id="search-results" class="row">
      <ol>
        <li>Svend Åge Madsen: Tugt og utugt i mellemtiden</li>
        <li>Hans Christian Andersen: Eventyr og Historier</li>
      </ol>
    </div>

  </div>
</body>
</html>
