<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section>
    <h1 class="theatralia">Welcome to theatralia!</h1>

    <p id="teaser">With Theatralia you can store, organize and search your
    research materials easily and flexibly. Whether you're in an archive, at a
    conference or at your desk: Theatralia supports your work without getting in
    the way.</p>

    <div id="scenario-pics"></div>

    <div id="prosp-user-actions">
        <button id="sign-up">Become user</button>
        <button id="learn-more">Learn more</button>
    </div>
</section>

<div id="login">
<!-- Credits: https://developers.google.com/web/fundamentals/input/form/label-and-name-inputs -->
    <form accept-charset="UTF-8" action="">
        <fieldset>
            <label for="loginUsername">Username</label>
            <input type="text" autofocus required name="username" id="loginUsername">
            <label for="loginPassword">Password</label>
            <input type="password" required name="password" id="loginPassword">
            <input type="submit" id="loginSubmit" name="submit" value="Log in">
        </fieldset>
    </form>
</div>
</body>
</html>
